<footer class="bg-danger text-white">
  <section class="border-bottom p-4 d-flex justify-content-center justify-content-lg-between">
    <div class="d-none d-lg-block me-3"> <span class="fw-bold">Síguenos en nuestras redes sociales:</span> </div>
    <div> <a href="" class="me-4 text-reset"><i class="bi bi-facebook"></i></a> <a href="" class="me-4 text-reset"><i class="bi bi-twitter"></i></a> <a href="" class="me-4 text-reset"><i class="bi bi-google"></i></a> <a href="" class="me-4 text-reset"><i class="bi bi-instagram"></i></a> <a href="" class="me-4 text-reset"><i class="bi bi-linkedin"></i></a> </div>
  </section>
  <div class="container text-center text-md-start mt-3">
    <div class="row">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i>¡Conócenos!</h6>
        <p>La Vicerrectoría Académica es una dependencia adscrita a la Rectoría, encargada de la planeación, dirección, supervisión y coordinación de las actividades docentes. Investigativas y de extensión de la Universidad.</p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Contáctanos en:</h6>
        <p><i class="fas fa-home me-3"></i>Cucuta - Ufps</p>
        <p><i class="fas fa-envelope me-3"></i>viceacademica@ufps.edu.co</p>
      </div>
    </div>
  </div>
  <section class="bd-dark text-center py-3">
    <p class="mb-0 fw-bold">&copy; 2023 Todos los derechos reservados Ufps</p>
  </section>
</footer>